* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

button {
    font-family: "Poppins", sans-serif;
}

header {
    background-color: #fff;
}

.navbar {
    padding: 30px 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 4px;
}

.logo-svg {
    width: 50px;
    height: 32px;
}

.logo-name {
    font-family: "Montserrat", sans-serif;
}

.logo span {
    font-weight: 700;
    font-size: 34px;
    line-height: 41.45px;
}

.nav-links {
    display: flex;
    gap: 75px;
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}


.nav-icons {
    display: flex;
    gap: 45px;
}

.person {
    width: 23.33px;
    height: 18.67px;
}

.search {
    width: 22.17px;
    height: 22.17px;
    border: 2px;
}

.wish {
    width: 23.33px;
    height: 20.81px;
}

.cart {
    width: 24.53px;
    height: 22.06px;
}

.comparison-page {
    height: 316px;
    background: url('/public/shop.svg') no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-group {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
}

.comparison-logo {
    margin: 0 auto;
}

.page {
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
}

.comparison-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.from-home {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.to {
    width: 20px;
    height: 20px;
}

.comparison {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}

.comparison-results {
    display: flex;
    margin-top: 34px;
    align-items: center;
    justify-content: space-between;
    padding-inline: 96px;
}

.redirect {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.redirect span {
    width: 223px;
    height: 105px;
    font-weight: 500;
    font-size: 28px;
    line-height: 35.42px;
}

.redirect button {
    width: 115px;
    height: 33px;
    border: none;
    background: none;
    border-bottom: 2px solid #727272;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #727272;
}

.all-results {
    display: flex;
    gap: 47px;
}

.compared-furniture {
    display: flex;
    flex-direction: column;
}

.compared-furniture-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 177px;
    border-radius: 10px;
    background: #F9F1E7;
}

.add-product {
    display: flex;
    flex-direction: column;
}

.compared-furniture-name {
    font-weight: 500;
    font-size: 24px;
    line-height: 30.36px;
    margin-top: 18px;
}

.compared-furniture-prize {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin-top: 6px;
}

.compared-furniture-reviews {
    display: flex;
    margin-top: 10px;
    gap: 4px;
}

.review-with-numbers {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.review-with-stars {
    width: 124px;
    height: 20px;
    border-right: 1px solid #9F9F9F;
}

.reviews-number {
    display: flex;
    align-items: center;
    margin-left: 9px;
    font-weight: 400;
    font-size: 13px;
    line-height: 19.5px;
    color: #9F9F9F;
}

.add-product {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.add-product span {
    font-weight: 600;
    font-size: 24px;
    line-height: 30.36px;
}

.add-select {
    width: 242px;
    height: 39px;
    border-radius: 6px;
    background: #B88E2F;
    border: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 17.71px;
    color: white;
}

.promise {
    margin-top: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FAF3EA;
    width: 100%;
    height: 270px;
}

.promise-title {
    font-weight: 600;
    font-size: 25px;
    line-height: 37.5px;
    color: #242424;
}

.promise-description {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #898989;
}

.promises-list {
    display: flex;
    gap: 55.33px;
    padding-inline: 53px;
}

.one-promise {
    display: flex;
    gap: 13.61px;
}

.footer {
    width: 1440px;
    height: 505px;
    padding-inline: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid #ddd;
  }

  .footer-column {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .footer-name {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
  }

  .address {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #9F9F9F;

  }

  .footer-heading {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #9F9F9F;
  }

  .footer-column ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 55px;
    padding: 0;
  }

  .footer-column ul li {
    margin-bottom: 10px;
  }

  .footer-column ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }

  .newsletter-form {
    display: flex;
    align-items: center;
    gap: 11px;
  }

  .newsletter-form input[type="email"] {
    width: 173px;
    height: 21px;
    border: none;
    border-bottom: 1px solid #000000;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #9F9F9F;

  }

  .newsletter-form button {
    width: 75px;
    height: 21px;
    border: none;
    border-bottom: 1px solid #000000;
    background: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
  }

  .bottom-footer {
    text-align: center;
    margin-inline: 102.01px;
    border-top: 1px solid #D9D9D9;
  }

  .bottom-p {
    margin-top: 35px;
    margin-bottom: 38px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }

  @media (max-width: 768px) {
    .footer {
      flex-direction: column;
      text-align: center;
    }

    .footer-column {
      margin-bottom: 20px;
    }

    .newsletter-form {
      flex-direction: column;
    }

    .newsletter-form input[type="email"] {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }